/* Fonts - Spoqa Han Sans */
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("Spoqa Han Sans Bold"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansBold.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansBold.woff") format("woff"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("Spoqa Han Sans Regular"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansRegular.woff2") format("woff2"),
    url("../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.woff")
      format("woff"),
    url("../fonts/spoqa-han-sans/SpoqaHanSans/SpoqaHanSansRegular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 300;
  src: local("Spoqa Han Sans Light"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansLight.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansLight.woff") format("woff"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 100;
  src: local("Spoqa Han Sans Thin"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansThin.woff2") format("woff2"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansThin.woff") format("woff"),
    url("../fonts/SpoqaHanSans/SpoqaHanSansThin.ttf") format("truetype");
}

/* Fonts - Apple SD Gothic Neo */
@font-face {
  font-family: "AppleSDGothicNeoEB00";
  src: url("AppleSDGothicNeoEB00.woff2") format("woff2"),
    url("AppleSDGothicNeoEB00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoB00";
  src: url("AppleSDGothicNeoB00.woff2") format("woff2"),
    url("AppleSDGothicNeoB00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoH00";
  src: url("AppleSDGothicNeoH00.woff2") format("woff2"),
    url("AppleSDGothicNeoH00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoL00";
  src: url("AppleSDGothicNeoL00.woff2") format("woff2"),
    url("AppleSDGothicNeoL00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoM00";
  src: url("AppleSDGothicNeoM00.woff2") format("woff2"),
    url("AppleSDGothicNeoM00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoR00";
  src: url("AppleSDGothicNeoR00.woff2") format("woff2"),
    url("AppleSDGothicNeoR00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoSB00";
  src: url("AppleSDGothicNeoSB00.woff2") format("woff2"),
    url("AppleSDGothicNeoSB00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoT00";
  src: url("AppleSDGothicNeoT00.woff2") format("woff2"),
    url("AppleSDGothicNeoT00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleSDGothicNeoUL00";
  src: url("AppleSDGothicNeoUL00.woff2") format("woff2"),
    url("AppleSDGothicNeoUL00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fonts - Malgun Gothic */
@font-face {
  font-family: "Malgun Gothic";
  src: url("MalgunGothicRegular.woff2") format("woff2"),
    url("MalgunGothicRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Malgun Gothic";
  src: url("MalgunGothicBold.woff2") format("woff2"),
    url("MalgunGothicBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
