@media (max-width: 490px) {
  /* ---------- Section: fav-books ---------- */
  input[type="radio"][id="tab5"] + label {
    margin-left: 24px;
  }
  label {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  /* ---------- Common CSS ---------- */
  .share-p p:first-child {
    font-size: 32px;
    line-height: 42px;
  }
  .share-p p:last-child {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  /* ---------- Header ---------- */
  nav .login {
    margin-left: 0;
  }
  .logo-click-to-top {
    margin: auto;
  }
  .hamburger-menu {
    display: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
  }
  .hamburger-menu .hamburger-line {
    display: block;
    width: 16px;
    height: 2px;
    background-color: #333;
    margin-bottom: 4px;
    transition: all 0.3s;
  }
  .hamburger-menu .hamburger-line:nth-child(3) {
    margin-bottom: 0;
  }
  .hamburger-menu.open .hamburger-line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .hamburger-menu.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.open .hamburger-line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .hamburger-menu {
    display: block;
  }
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 24px 16px;
    border-top: 0.5px solid #dfdfdf;
    background-color: rgba(255, 255, 255, 0.9);
  }
  nav ul li {
    text-align: center;
    padding: 15px 0;
  }
  nav.open ul {
    display: flex;
  }

  /* ---------- Section: welcome ---------- */
  .welcome {
    min-height: 650px;
    position: relative;
  }
  .welcome-main-ment {
    max-width: 215px;
    margin-top: 30px;
  }

  .welcome-main-bg {
    max-width: 440px;
    top: 30%;
    left: 100%;
    transform: translate(-100%, -15%);
  }

  /* ---------- Section: slide ---------- */
  .slide {
    padding: 48px 24px;
  }

  /* ---------- Section: ad ---------- */
  .ad {
    padding: 48px 24px 73px;
  }
  .video-container-1 {
    width: 100%;
    height: 192px;
    margin-top: 20px;
  }

  /* ---------- Section: books ---------- */
  .books {
    padding: 48px 0;
  }
  /* books, fav-books */
  .book-list-wrapper {
    overflow-x: auto;
  }
  .list-gap {
    gap: 31px;
  }

  /* ---------- Section: fav-books ---------- */
  .fav-books {
    margin-top: 64px;
  }

  /* ---------- Section: completed ---------- */
  .completed {
    margin-top: 16px;
    padding-top: 80px;
  }
  .completed-wrapper {
    padding-top: 680px;
  }
  .reading-average {
    max-width: 297px;
  }
  .reading-mock {
    max-width: 300px;
  }
  .mania {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .millie-pick {
    position: absolute;
    top: -1%;
    right: 8%;
  }
  .holic {
    position: absolute;
    top: 33%;
    left: -2%;
  }
  .hidden {
    position: absolute;
    right: 2%;
    top: 30%;
  }

  /* ---------- Section: price ---------- */
  .price {
    padding: 48px 24px;
  }
  .share-p p:first-child {
    margin-bottom: 16px;
  }
  .price-info-wrapper {
    margin: 0;
    gap: 24px;
  }
  .e-book,
  .paper-book {
    margin: auto;
  }
  .important-price-info {
    margin: auto;
    width: 100%;
    padding: 16px 7.5px 0;
  }

  /* ---------- Section: example ---------- */
  .tab-content-box {
    padding: 32px 0;
  }
  .tab-content-wrapper {
    min-height: 787px;
  }
  .icon-title-phrase {
    margin-top: 0;
    text-align: center;
  }
  .icon-title-phrase img {
    margin-bottom: 0;
  }
  .icon-title-phrase p:nth-child(2) {
    font-size: 32px;
    line-height: 42px;
  }
  .icon-title-phrase p:last-child {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;
  }
  .tab-box {
    min-height: inherit;
  }
  .float-left {
    float: none;
    min-height: inherit;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .float-right {
    float: none;
  }
  .down-wrapper {
    position: static;
    text-align: center;
    max-width: 301px;
  }
  .detail-phrase {
    width: 100%;
    font-size: 18px;
    line-height: 29px;
    margin-top: 32px;
  }
  .click-num {
    justify-content: center;
  }
  .smart-phone-inner {
    max-width: 223px;
    max-height: 472px;
    margin: auto;
    border-radius: 35px;
    top: 130%;
    transform: translateY(-130%);
  }
  .images-container {
    width: 100%;
    height: 100%;
  }
  .images-container img {
    width: 100%;
    height: 100%;
  }

  /* ---------- Section: story ---------- */
  .qa-content-wrapper {
    padding: 40px 24px 84px;
  }
  .story-right.share-p p:first-child {
    font-size: 32px;
  }
  .story-right.share-p p:last-child {
    font-size: 16px;
  }

  /* ---------- Section: qa ---------- */
  .qa-content-wrapper {
    padding: 40px 24px 84px;
  }
  .qa-content p {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .accordion-item .accordion-title {
    font-size: 16px;
  }
  .accordion-item .accordion-content {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  /* ---------- Section: story ---------- */
  .yellow-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0;
  }
  .ad-and-phrase-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0;
  }
  .story-left {
    margin-top: -95px;
  }
  .video-container-2,
  .video-2 {
    width: 315px;
    height: 315px;
  }
  .share-p.story-right {
    margin-top: 45px;
    text-align: center;
    width: 100vw;
  }
  .story-right.share-p p:first-child {
    font-size: 40px;
  }
  .story-right.share-p p:last-child {
    font-size: 18px;
  }
}

@media (max-width: 1150px) {
  /* ---------- Section: welcome ---------- */
  .welcome {
    width: 100vw;
    min-height: 950px;
    position: relative;
  }
  .main-words {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-10%, -70%);
    width: 60%;
    height: 100%;
  }
  .welcome-main-ment {
    width: 100%;
    max-width: 315px;
  }
  .welcome-main-millie {
    display: none;
  }
  .welcome-main-bg {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-70%, -15%);
    max-width: 700px;
    height: 100%;
  }

  /* ---------- Section: books, fav-books ---------- */
  .book-list-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;
  }
  .book-list-wrapper::-webkit-scrollbar {
    display: none;
  }
}
