@media (max-width: 490px) {
  /* ---------- Section: fav-books ---------- */
  input[type="radio"][id="tab5"] + label {
    margin-left: 24px;
  }
  label {
    margin-bottom: 20px;
  }
}
@media (max-width: 1150px) {
  /* ---------- Section: books, fav-books ---------- */
  .book-list-wrapper {
    /* width: 100%; */
    overflow-x: auto;
    /* -webkit-overflow-scrolling: touch; */
    /* scroll-snap-type: x mandatory; */
    /* scroll-padding: 0 8px; */
    /* white-space: nowrap; */
  }
}
@media (max-width: 768px) {
  /* ---------- Common CSS ---------- */
  .share-p p:first-child {
    font-size: 32px;
    line-height: 42px;
  }
  .share-p p:last-child {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  /* ---------- Header ---------- */
  /* ✅ */
  nav ul li:not(.login) {
    display: none;
  }
  /* ---------- Section: welcome ---------- */
  .welcome {
    height: 645px;
    margin-bottom: 48px;
  }
  .welcome-inner {
    padding-top: 100px;
  }
  .welcome-main-ment {
    width: 215px;
    /* margin-left: 0.5rem; */
  }
  .welcome-main-millie {
    display: none;
  }
  .welcome-main-bg {
    /* width: 470px; */
    width: 100vw;
    margin-left: -250px;
    margin-top: 40px;
  }

  /* ---------- Section: slide ---------- */
  .slide {
    padding: 48px 24px;
    margin-top: -48px;
  }

  /* ---------- Section: ad ---------- */
  .ad {
    padding: 48px 24px 73px;
  }
  .video-container-1 {
    width: 100%;
    height: 192px;
    margin-top: 20px;
  }

  /* ---------- Section: books ---------- */
  .books {
    padding: 48px 0;
  }
  /* books, fav-books */
  .book-list-wrapper {
    overflow-x: auto;
  }
  .each-book-each {
    /* scroll-snap-align: center; */
  }
  .list-gap {
    gap: 31px;
  }

  /* ---------- Section: fav-books ---------- */
  .fav-books {
    margin-top: 64px;
  }
  input[type="radio"] + label {
    /* margin-bottom: 0; */
  }

  /* ---------- Section: completed ---------- */
  .completed {
    margin-top: 16px;
    padding-top: 80px;
  }

  /* ---------- Section: price ---------- */
  .price {
    padding: 48px 24px;
  }
  .share-p p:first-child {
    margin-bottom: 16px;
  }
  .price-info-wrapper {
    margin: 0;
    gap: 24px;
  }
  .e-book,
  .paper-book {
    margin: auto;
  }
  .important-price-info {
    margin: auto;
    width: 100%;
    padding: 16px 7.5px 0;
  }

  /* ---------- Section: example ---------- */
  .tab-content-box {
    padding: 32px 0;
  }
  .tab-content-wrapper {
    min-height: 787px;
  }
  .icon-title-phrase {
    margin-top: 0;
    text-align: center;
  }
  .icon-title-phrase img {
    margin-bottom: 0;
  }
  .icon-title-phrase p:nth-child(2) {
    font-size: 32px;
    line-height: 42px;
  }
  .icon-title-phrase p:last-child {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 18px;
  }
  .tab-box {
    min-height: inherit;
  }
  .float-left {
    float: none;
    min-height: inherit;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .float-right {
    float: none;
  }
  .down-wrapper {
    position: static;
    text-align: center;
    max-width: 301px;
  }
  .detail-phrase {
    width: 100%;
    font-size: 18px;
    line-height: 29px;
    margin-top: 32px;
  }
  .click-num {
    justify-content: center;
  }
  .smart-phone-inner {
    max-width: 223px;
    max-height: 472px;
    margin: auto;
    border-radius: 35px;
    top: 130%;
    transform: translateY(-130%);
  }
  .images-container {
    width: 100%;
    height: 100%;
  }
  .images-container img {
    width: 100%;
    height: 100%;
  }

  /* ---------- Section: story ---------- */
  .qa-content-wrapper {
    padding: 40px 24px 84px;
  }
  .story-right.share-p p:first-child {
    font-size: 32px;
  }
  .story-right.share-p p:last-child {
    font-size: 16px;
  }

  /* ---------- Section: qa ---------- */
  .qa-content-wrapper {
    padding: 40px 24px 84px;
  }
  .qa-content p {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .accordion-item .accordion-title {
    font-size: 16px;
    /* max-width: 250px; */
    /* white-space: pre-wrap; */
  }
  .accordion-item .accordion-content {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  /* ---------- Section: story ---------- */
  .yellow-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 0;
  }
  .ad-and-phrase-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0;
  }
  .story-left {
    margin-top: -95px;
  }
  .video-container-2,
  .video-2 {
    width: 315px;
    height: 315px;
  }
  .share-p.story-right {
    margin-top: 45px;
    text-align: center;
    width: 100vw;
  }
  .story-right.share-p p:first-child {
    font-size: 40px;
  }
  .story-right.share-p p:last-child {
    font-size: 18px;
  }
}
