/* Fontawesome 6.3.0 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

:root {
  /* Fonts */
  --spo: "Spoqa Han Sans Neo", "sans-serif";
  --app-1: "AppleSDGothicNeoT00", sans-serif;
  --app-2: "AppleSDGothicNeoUL00", sans-serif;
  --app-3: "AppleSDGothicNeoL00", sans-serif;
  --app-4: "AppleSDGothicNeoR00", sans-serif;
  --app-5: "AppleSDGothicNeoM00", sans-serif;
  --app-6: "AppleSDGothicNeoSB00", sans-serif;
  --app-7: "AppleSDGothicNeoB00", sans-serif;
  --app-8: "AppleSDGothicNeoEB00", sans-serif;
  --app-9: "AppleSDGothicNeoH00", sans-serif;
  --mal: "Malgun Gothic", sans-serif;
  --h1: "Courier New", Courier, monospace;
}

/* ---------- Default CSS ---------- */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: var(--spo);
}

/* ----------Common CSS ---------- */
/* share-p */
.share-p {
  text-align: center;
}
.share-p p:first-child {
  color: #242424;
  font-size: 49px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 24px;
}
.share-p p:last-child {
  color: #555555;
  font-size: 22px;
  letter-spacing: -0.6px;
  line-height: 1.6;
}

/* 책 가운데 정렬 */
.nth-list {
  margin: auto;
  padding: 0 24px;
  cursor: pointer;
}

/* books-section-each-title */
.books-section-each-title {
  font-size: 20px;
  color: rgb(36, 36, 36);
  font-weight: 700;
  letter-spacing: -0.6px;
  margin-bottom: 16px;
}

/* book-list-wrapper */
.book-list-wrapper {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

/* free-book & read-headset-book & each-book-each */
.each-free-book,
.each-read-headset-book,
.each-book-each,
.each-book-each-month,
.each-book-each-audiobest,
.each-book-each-original {
  width: 145px;
  height: 215px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.headset-icon,
.free-icon,
.pdf-icon {
  position: absolute;
  top: 0;
  right: -7px;
  width: 40px;
}
.completely-icon,
.summary-icon {
  position: absolute;
  top: 26px;
  right: -7px;
  width: 40px;
}

/* a-book-info */
.a-book-info,
.a-book-info-month,
.a-book-info-audiobook,
.a-book-info-original,
.first-info,
.second-info,
.third-info,
.fourth-info,
.fifth-info {
  width: 145px;
  letter-spacing: -0.6px;
  margin-top: 12px;
  display: grid;
  gap: 3px;
}
.book-title {
  color: #242424;
  font-weight: 700;
  line-height: 20.8px;
}
.book-author,
.book-percent-time {
  color: #6f6f6f;
  font-size: 14px;
  line-height: 18.2px;
}
.complete-percent-time-wrapper > img {
  vertical-align: middle;
  margin-bottom: 2.7px;
  margin-right: 3px;
}

/* 말줄임 2줄 허용 */
.book-title {
  width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 말줄임 1줄 허용 */
.book-author {
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* label */
.label {
  background-repeat: no-repeat;
  width: inherit;
  height: 18px;
  margin-top: 12px;
}
.label-mp3 {
  background-image: url("../img/label-mp3.png");
}
.label-reader {
  background-image: url("../img/label-reader.png");
}
.label-ai {
  background-image: url("../img/label-ai.png");
}

/* ---------- Header ---------- */
header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 0.5px solid #dfdfdf;
}
header img {
  height: 24px;
  cursor: pointer;
}
nav {
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
li a {
  color: rgb(36, 36, 36);
  padding: 20px 24px;
}
nav .login a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 82px;
  padding: 8.5px 25px;
  background-color: #333333;
  text-align: center;
  border-radius: 100px;
  margin-left: 24px;
}

/* ---------- Section: welcome ---------- */
.welcome {
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
  width: 100%;
}
.welcome-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 155px 10px 85px 41px;
  max-width: 1200px;
}
.main-words {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;
}
.welcome-main-ment {
  width: 350px;
}
.welcome-main-millie {
  width: 180px;
}
.welcome-main-bg {
  width: 780px;
  height: 580px;
  background: url("../img/메인배경.png") no-repeat center / contain;
}

/* ---------- Section: slide ---------- */
.slide {
  padding: 80px 24px;
}
.slide-share-p-second {
  margin-bottom: 24px;
}
.book-lists {
  width: 100%;
  /* height: 700px; */
  /* padding: 48px 0; */
  overflow: hidden;
}
.book-lists li {
  width: 100%;
  height: 183px;
}
.book-lists li:not(.third-books) {
  margin-bottom: 24px;
}
.first-books {
  background: 0% 0% / cover repeat-x url("../img/slide01.png");
  /* margin-top: 48px; */
  animation: to-left-slide 50s linear infinite;
}
.second-books {
  background: 0% 0% / cover repeat-x url("../img/slide02.png");
  animation: to-right-slide 50s linear infinite;
}
.third-books {
  background: 0% 0% / cover repeat-x url("../img/slide03.png");
  animation: to-left-slide 50s linear infinite;
}

/* ---------- Section: ad, story ---------- */
.ad {
  background-color: #f7f7f7;
  padding: 80px 0px 120px;
}
.video-container-1 {
  position: relative;
  max-width: 730px;
  height: 411px;
  margin: auto;
  margin-top: -20px;
}
.video-1,
.video-2 {
  position: absolute;
  max-width: 100%;
  height: 100%;
}
.thumbnail-1,
.thumbnail-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play-button-1,
.play-button-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  cursor: pointer;
}

/* ---------- Section: books ---------- */
.books {
  background-color: #ffffff;
  padding: 80px 0 117px;
  overflow: hidden;
  /* width: 100%; */
  margin: auto;
  max-width: 1155px;
}
.share-p p:last-child {
  margin-bottom: 80px;
}
.list-gap {
  display: grid;
  gap: 64px;
}

/* ---------- Section: fav-books ---------- */
.fav-books {
  margin: auto;
  max-width: 1155px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  padding: 6px 16px;
  color: #242424;
  font-size: 14px;
  cursor: pointer;
  outline: 1px solid #242424;
  border-radius: 100px;
  margin-right: 8px;
}
input[type="radio"]:first-child + label {
  margin-left: 24px;
}
input[type="radio"]:checked + label {
  background-color: #242424;
  color: #fff;
}
.conbox {
  /* width: 1155px; */
  display: none;
}
input[id="tab1"]:checked ~ .con1,
input[id="tab2"]:checked ~ .con2,
input[id="tab3"]:checked ~ .con3,
input[id="tab4"]:checked ~ .con4,
input[id="tab5"]:checked ~ .con5 {
  display: block;
}

/* ---------- Section: completed ---------- */
.completed {
  margin-top: 32px;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 63px;
  position: relative;
  width: 100vw;
}
.completed-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 62px 20px 0;
  margin-bottom: 55px;
}
.completed-bg-center {
  position: absolute;
  bottom: 0;
  /* margin: auto; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.reading-mock {
  display: block;
  margin: 0 auto;
}
.reading-average {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 103px;
  max-width: 417px;
}
.how-read img {
  width: 172px;
}
.how-read-first-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  margin: auto;
}
.how-read-second-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  margin-bottom: 0;
  margin: auto;
}

/* ---------- Section: price ---------- */
.price {
  background-color: #ffeb60;
  margin-top: -55px;
  padding: 80px 2% 100px;
}
.price-info-wrapper {
  max-width: 1024px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  margin-top: -20px;
  align-items: center;
}
.e-book,
.paper-book {
  background: #fff;
  border-radius: 16px;
  width: 327px;
  padding: 32px;
  margin-right: 24px;
  height: 309px;
}
.paper-book {
  margin-right: 35px;
}
.book-title-sub {
  font-size: 20px;
  margin-bottom: 15px;
  color: #242424;
  font-weight: 700;
  line-height: 28px;
}
.month-price {
  margin-bottom: 17px;
}
.month,
.year {
  font-size: 24px;
  font-weight: 100;
}
.real-price {
  font-size: 40px;
}
.won {
  font-weight: 700;
}
.price-p {
  font-size: 14px;
  color: #6f6f6f;
  line-height: 20px;
}
.month,
.year,
.real-price,
.won,
.price-p {
  letter-spacing: -0.6px;
}
.del-price {
  font-size: 18px;
  color: #6f6f6f;
  font-weight: 100;
  margin: 0 8px 0 24px;
}
.discount {
  display: flex;
  align-items: center;
}
.year-price {
  margin-bottom: 20px;
}
.important-price-info {
  min-width: 278px;
  margin: auto;
  padding: 16px 0;
}
.no-amount-charged,
.an-immediate-refund {
  display: flex;
  align-items: center;
}
.no-amount-charged p,
.an-immediate-refund p {
  font-weight: 700;
  line-height: 22px;
  color: #242424;
}
.price-info-divide-line {
  width: inherit;
  margin: 17px 0;
  background: #fff;
  height: 1px;
  border: 0;
}
.discount-img {
  width: 57px;
}
.price-info-img {
  width: 72px;
  margin-right: 25px;
}

/* ---------- Section: example ---------- */
.example {
  background-color: #fff;
  width: inherit;
}
.example-tab {
  outline: 1px solid red;
}
.example-tab .tabs-ul {
  display: flex;
  margin: 0 auto;
  max-width: 1156px;
  width: 100%;
  justify-content: space-between;
}
.example-tab .tabs-ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 578px;
  /* height: 105px; */
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
}
.example-tab .tabs-ul li.active {
  background-color: #f7f7f7;
}
.example-tab .tabs-ul li img {
  width: 24px;
}
.tab-content-box {
  background-color: #f7f7f7;
  outline: 1px solid blue;
  padding: 74px 8%;
}
.tab-content-wrapper {
  max-width: 1156px;
  margin: auto;
  border: 1px solid cyan;
  height: 680px;
}
.tab-box {
  display: none;
  overflow: hidden;
}
.tab-box.active {
  display: block;
}
.float-left {
  float: left;
  max-width: 371px;
  outline: 1px solid green;
  height: 680px;
  position: relative;
}
.icon-title-phrase {
  margin-top: 80px;
}
.icon-title-phrase img {
  width: 44px;
  margin-bottom: 26px;
}
.icon-title-phrase p:nth-child(2) {
  font-size: 49px;
  letter-spacing: -0.49px;
  color: #242424;
  margin-bottom: 16px;
  font-weight: 700;
}
.icon-title-phrase p:last-child {
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: -0 0.6px;
  color: #555555;
}
.down-wrapper {
  /* outline: 1px solid red; */
  position: absolute;
  bottom: 90px;
}
.detail-phrase {
  font-size: 22px;
  line-height: 35.2px;
  letter-spacing: -0.6px;
  color: #242424;
  margin-bottom: 24px;
  word-break: break-all;
  width: 371px;
}
.detail-phrase-first {
  font-weight: 700;
}
.detail-phrase-second {
  font-weight: 500;
}
.click-num {
  display: flex;
}
.click-num li {
  padding: 4px 18px;
  font-size: 14px;
  color: #242424;
  border-radius: 100px;
  margin-right: 8px;
  border: 1px solid #242424;
  cursor: pointer;
}
.click-num li.active {
  background-color: #242424;
  color: #ffffff;
}
.float-right {
  float: right;
  outline: 1px solid blueviolet;
}
.smart-phone-inner {
  width: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 53px;
  filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.1));
}
.phone-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.images-container {
  display: flex;
  width: 1320px;
  transition: transform 0.25s ease-in-out;
}
.images-container img {
  width: 330px;
  height: 680px;
}

/* ---------- Section: story ---------- */
.story {
  background-color: #f7f7f7;
  padding-top: 160px;
}
.yellow-bg {
  background-image: url(../img/review-bg.png);
  background-size: cover;
  padding: 80px 204px 115px;
  margin: auto;
}
.ad-and-phrase-wrapper {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 0 204px;
  margin: auto;
  filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.1));
}
.video-container-2 {
  position: relative;
  width: 415px;
  height: 415px;
}
.story-left {
  margin-top: -130px;
}
.story-right {
  text-align: start;
}

/* ---------- Section: qa ---------- */
.qa {
  background-color: #ffeb60;
}
.qa-content-wrapper {
  padding: 80px 10% 84px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.qa-content {
  width: 100%;
}
.qa-content p {
  text-align: center;
  margin-bottom: 60px;
}
.accordion-item {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 40px 0px;
  border-radius: 20px;
  letter-spacing: -0.6px;
  max-height: 500px;
  padding: 18px 24px;
  width: 100%;
  cursor: pointer;
}
.accordion-item:not(:last-child) {
  margin-bottom: 16px;
}
.qa-content-wrapper p {
  font-size: 49px;
  font-weight: 700;
}
.accordion-item .accordion-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.accordion-item .accordion-title::after {
  content: "\f107";
  font-family: fontawesome;
  float: right;
  color: #444;
  transition: 0.35s;
}
.accordion-item.active .accordion-title::after {
  transform: rotate(180deg);
}
.accordion-item .accordion-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #555555;
  border-top: 1px solid #242424;
  padding-top: 16px;
  display: none;
  margin-top: 21px;
}
.accordion-item .accordion-content strong {
  font-weight: 700;
}

/* ---------- Footer ---------- */
footer {
  background-color: #fff;
  padding-bottom: 50px;
}
.lines-wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 24px 16px 32px;
}
.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18.2px;
  letter-spacing: -0.6px;
}
.first-line p {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #242424;
  display: inline-block;
}
.footer-sns-icons {
  display: flex;
  align-items: center;
}
.footer-sns-icons .sns-icon {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50%;
}
.sns-icon:not(.sns-icon:last-child) {
  margin-right: 8px;
}
.sns-icon:first-child {
  background: url("../img/img-sprites.png") -10px -54px;
}
.sns-icon:nth-child(2) {
  background: url("../img/img-sprites.png") -10px -10px;
}
.sns-icon:last-child {
  background: url("../img/img-sprites.png") -54px -10px;
}
.second-line {
  margin-top: 21px;
}
.business-info {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: #a5a5a5;
  letter-spacing: -0.6px;
}
.business-info.active .business-info-title::after {
  transform: rotate(180deg);
}
.business-info-title {
  line-height: 11.5px;
  cursor: pointer;
}
.business-info-title::after {
  content: "\f107";
  font-family: fontawesome;
  transition: 0.35s;
  color: #a5a5a5;
  margin-left: 5px;
  display: inline-block;
}
.business-info-content {
  line-height: 13px;
  margin-top: 10px;
  display: none;
  font-style: normal;
}
.business-info-content span {
  display: inline-block;
  margin-right: 12px;
  padding: 1px 0;
}
.third-line {
  margin-top: 27px;
  margin-bottom: 18px;
}
.third-line a {
  font-size: 12px;
  line-height: 18.2px;
  letter-spacing: -0.6px;
  font-weight: 400;
  color: #6f6f6f;
  margin-right: 12px;
}
.third-line a::after {
  content: "\f105";
  font-family: fontawesome;
  margin-left: 5px;
  font-size: 8px;
}
.third-line .strong {
  line-height: 15.6px;
  font-weight: 700;
}
.fourth-line small {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #6f6f6f;
  letter-spacing: -0.6px;
}

/* ---------- fixed start button ---------- */
.fixed-start-button {
  background-color: #333333;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px 0px,
    rgba(0, 0, 0, 0.08) 4px 8px 28px 0px;
  border-radius: 60px;
  line-height: 24px;
  text-align: center;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-width: 450px;
  width: 90%;
  padding: 16px 0;
  font-size: 16px;
  letter-spacing: -0.6px;
  font-family: var(--app-4);
  cursor: pointer;
}
.fixed-start-button {
  font-weight: 400;
}
.fixed-start-button strong {
  font-weight: 700;
}

/* ---------- keyframes ---------- */
@keyframes to-left-slide {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}
@keyframes to-right-slide {
  0% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
