/* Fontawesome 6.3.0 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

:root {
  /* Fonts */
  --spo: "Spoqa Han Sans Neo", "sans-serif";
  --app-1: "AppleSDGothicNeoT00", sans-serif;
  --app-2: "AppleSDGothicNeoUL00", sans-serif;
  --app-3: "AppleSDGothicNeoL00", sans-serif;
  --app-4: "AppleSDGothicNeoR00", sans-serif;
  --app-5: "AppleSDGothicNeoM00", sans-serif;
  --app-6: "AppleSDGothicNeoSB00", sans-serif;
  --app-7: "AppleSDGothicNeoB00", sans-serif;
  --app-8: "AppleSDGothicNeoEB00", sans-serif;
  --app-9: "AppleSDGothicNeoH00", sans-serif;
  --mal: "Malgun Gothic", sans-serif;
  --h1: "Courier New", Courier, monospace;
}

/* ---------- Default CSS ---------- */
body {
  font-family: var(--spo);
}

/* ----------Common CSS ---------- */
/* share-p */
.share-p {
  text-align: center;
}
.share-p p:first-child {
  color: #242424;
  font-size: 49px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 24px;
}
.share-p p:last-child {
  color: #555555;
  font-size: 22px;
  letter-spacing: -0.6px;
  line-height: 1.6;
}

/* 책 가운데 정렬 */
.nth-list {
  margin: auto;
}

/* books-section-each-title */
.books-section-each-title {
  font-size: 20px;
  color: rgb(36, 36, 36);
  font-weight: 700;
  letter-spacing: -0.6px;
  margin-bottom: 35px;
}

/* book-list-wrapper */
.book-list-wrapper {
  display: flex;
  gap: 16px;
  max-width: 1155px;
}

/* free-book & read-headset-book & each-book-each */
.each-free-book,
.each-read-headset-book,
.each-book-each,
.each-book-each-month,
.each-book-each-audiobest,
.each-book-each-original {
  width: 145px;
  height: 215px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.headset-icon,
.free-icon {
  position: absolute;
  top: 0;
  right: -7px;
  width: 40px;
}
.completely-icon {
  position: absolute;
  top: 26px;
  right: -7px;
  width: 40px;
}

/* a-book-info */
.a-book-info,
.a-book-info-month,
.a-book-info-audiobook,
.a-book-info-original {
  width: 145px;
  letter-spacing: -0.6px;
  margin-top: 12px;
  display: grid;
  gap: 3px;
}
.book-title {
  color: #242424;
  font-weight: 700;
  line-height: 20.8px;
}
.book-author,
.book-percent-time {
  color: #6f6f6f;
  font-size: 14px;
  line-height: 18.2px;
}
.complete-percent-time-wrapper > img {
  vertical-align: middle;
  margin-bottom: 2.7px;
  margin-right: 3px;
}

/* 말줄임 2줄 허용 */
.book-title {
  width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 말줄임 1줄 허용 */
.book-author {
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------- Header ---------- */
header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 0.5px solid #dfdfdf;
}
header img {
  height: 24px;
  cursor: pointer;
}
nav {
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ul li {
}
li a {
  color: rgb(36, 36, 36);
  padding: 20px 24px;
}
nav .login a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 82px;
  padding: 8.5px 25px;
  background-color: #333333;
  text-align: center;
  border-radius: 100px;
  margin-left: 24px;
}

/* ---------- Section: welcome ---------- */
.welcome {
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
  width: 100%;
  margin-bottom: 80px;
}
.welcome-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 155px 10px 85px 41px;
  max-width: 1200px;
}
.main-words {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;
}
.welcome-main-ment {
  width: 350px;
}
.welcome-main-millie {
  width: 180px;
}
.welcome-main-bg {
  width: 780px;
  height: 580px;
  background: url("../img/메인배경.png") no-repeat center / contain;
}

/* ---------- Section: slide ---------- */
.slide {
  padding: 0 24px;
}
.slide-share-p-second {
  margin-bottom: 24px;
}
.book-lists {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.book-lists li {
  width: 100%;
  height: 183px;
  margin: 24px 0;
}
.first-books {
  background: 0% 0% / cover repeat-x url("../img/slide01.png");
  margin-top: 48px;
  animation: to-left-slide 50s linear infinite;
}
.second-books {
  background: 0% 0% / cover repeat-x url("../img/slide02.png");
  animation: to-right-slide 50s linear infinite;
}
.third-books {
  background: 0% 0% / cover repeat-x url("../img/slide03.png");
  animation: to-left-slide 50s linear infinite;
}

/* ---------- Section: ad ---------- */
/* ✅ */
.ad {
  background-color: #f7f7f7;
  padding: 80px 0 120px;
}

/* ---------- Section: books ---------- */
.books {
  background-color: #ffffff;
  padding: 80px 0 120px;
}
.share-p p:last-child {
  margin-bottom: 80px;
}
.list-gap {
  display: grid;
  gap: 64px;
}

/* keyframes */
@keyframes to-left-slide {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}
@keyframes to-right-slide {
  0% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
