/* Fontawesome 6.3.0 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

/* XEICON CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

:root {
  /* Fonts */
  --spo: "Spoqa Han Sans Neo", "sans-serif";
  --app-1: "AppleSDGothicNeoT00", sans-serif;
  --app-2: "AppleSDGothicNeoUL00", sans-serif;
  --app-3: "AppleSDGothicNeoL00", sans-serif;
  --app-4: "AppleSDGothicNeoR00", sans-serif;
  --app-5: "AppleSDGothicNeoM00", sans-serif;
  --app-6: "AppleSDGothicNeoSB00", sans-serif;
  --app-7: "AppleSDGothicNeoB00", sans-serif;
  --app-8: "AppleSDGothicNeoEB00", sans-serif;
  --app-9: "AppleSDGothicNeoH00", sans-serif;
  --mal: "Malgun Gothic", sans-serif;
  --h1: "Courier New", Courier, monospace;
}

/* Default CSS */
body {
  font-family: var(--spo);
}

/* ---------- Header ---------- */
header {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 0.5px solid #dfdfdf;
}
header img {
  height: 24px;
  cursor: pointer;
}
nav {
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
ul li {
}
li a {
  color: rgb(36, 36, 36);
  padding: 20px 24px;
}
nav .login a {
  font-size: 12px;
  color: rgb(255, 255, 255);
  width: 82px;
  padding: 8.5px 25px;
  background-color: #333333;
  text-align: center;
  border-radius: 100px;
  margin-left: 24px;
}

/* ---------- Section: welcome ---------- */
.welcome{
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
  width: 100%;
}
.welcome-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 155px 10px 85px 41px;
  max-width: 1200px;
}
.main-words{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 580px;
}
.welcome-main-ment{
  width: 350px;

}
.welcome-main-millie{
  width: 180px;
}
.welcome-main-bg{
  width: 780px;
  height: 580px;
  background: url('../img/메인배경.png') no-repeat center / contain;
}

